<p style="color: green"><%= notice %></p>

<%= stylesheet_link_tag "tablestyle", media: "all", "data-turbo-track": "reload" %>
<h6 class="text-center">Cronograma dos testes Parciais e Globais - 2025</br> Ensino Fundamental - Iniciais</h6>

<%= link_to "New schedule", new_schedule_path %>

<table class="custom-table table table-bordered border-secondary">
  <thead>
     <tr>
      <th class="text-center text-white bg-primary" colspan="4">1ª Etapa</th>
    </tr>
    <tr class="text-center table-primary" >
      <th class="narrow-column">Tipo</th>
      <th>Turmas</th>
      <th>Data</th>
      <th>Comp. Curriculares</th>
    </tr>
  </thead>

  <tbody>
    <!-- Primeira Etapa - Parciais 1º ANO-->
    <tr>
      <td class="text-center vertical-text table-info" rowspan="12" >PARCIAIS</td>
      <td class="text-center" rowspan="6" style="vertical-align: middle;">1º ano</td>
      <td class="text-center">22/01</td>
      <td class="text-center">Sondagem 2025 (Português e Matemática)</td>
    </tr>
    <tr>
      <td class="text-center">29/01</td>
      <td class="text-center">Redação</td>
    </tr>
    <tr>
      <td class="text-center">05/02</td>
      <td class="text-center">Língua Portuguesa</td>
    </tr>
    <tr>
      <td class="text-center">12/02</td>
      <td class="text-center">Matemática</td>
    </tr>
    <tr>
      <td class="text-center">19/02</td>
      <td class="text-center">Língua Inglesa</td>
    </tr>
    <tr>
      <td class="text-center">26/02</td>
      <td class="text-center">Natureza e Sociedade</td>
    </tr>
   
    <!-- 1ª ETAPA - 2º ANO (Parciais) -->
    <tr class="table-secondary">
      <td class="text-center" rowspan="7" style="vertical-align: middle;">2º ano ao 5º ano</td>
      <td class="text-center">29/01</td>
      <td class="text-center">Redação</td>
    </tr>
    <tr class="table-secondary">
      <td class="text-center">05/02</td>
      <td class="text-center">Lingua Portuguesa</td>
    </tr>
    <tr class="table-secondary">
      <td class="text-center">12/02</td>
      <td class="text-center">Matemática</td>
    </tr>
    <tr class="table-secondary">
      <td class="text-center">19/02</td>
      <td class="text-center">Língua Inglesa e Geografia</td>
    </tr>
    <tr class="table-secondary">
      <td class="text-center">26/02</td>
      <td class="text-center">História e Ciências</td>
    </tr>
    <tr class="table-secondary">
    <!-- Segunda Chamada -->
       <td class="text-center" style="vertical-align: middle;">03/02, 10/02, 17/02, 24/02 e 07/03</td>
      <td class="text-center" colspan="2">Segunda Chamada</td>
    </tr>
  </tbody>

  <tbody>
    <!-- Primeira Etapa - GLOBAIS 1º ANO-->
    <tr>
      <td class="text-center vertical-text table-warning" rowspan="11" >GLOBAIS</td>
      <td class="text-center" rowspan="5" style="vertical-align: middle;">1º ano</td>
      <td class="text-center">12/03</td>
      <td class="text-center">Redação</td>
    </tr>
    <tr>
      <td class="text-center">19/03</td>
      <td class="text-center">Língua Portuguesa</td>
    </tr>
    <tr>
      <td class="text-center">26/03</td>
      <td class="text-center">Matemática</td>
    </tr>
    <tr>
      <td class="text-center">02/04</td>
      <td class="text-center">Língua Inglesa</td>
    </tr>
    <tr>
      <td class="text-center">09/04</td>
      <td class="text-center">Natureza e Sociedade</td>
    </tr>
   
    <!-- 1ª ETAPA - 2º ANO - GLOBAIS-->
    <tr class="table-secondary">
      <td class="text-center" rowspan="6" style="vertical-align: middle;">2º ano ao 5º ano</td>
      <td class="text-center">12/03</td>
      <td class="text-center">Redação</td>
    </tr>
    <tr class="table-secondary">
      <td class="text-center">19/03</td>
      <td class="text-center">Lingua Portuguesa e Língua Inglesa</td>
    </tr>
    <tr class="table-secondary">
      <td class="text-center">26/03</td>
      <td class="text-center">Matemática</td>
    </tr>
    <tr class="table-secondary">
      <td class="text-center">02/04</td>
      <td class="text-center">Ciências e <strong>Arte (4º e 5º)</strong></td>
    </tr>
    <tr class="table-secondary">
      <td class="text-center">09/04</td>
      <td class="text-center">História e Geografia</td>
    </tr>
    <tr class="table-secondary">
    <!-- Segunda Chamada -->
       <td class="text-center" style="vertical-align: middle;">17/03,24/03,31/03,07/04 e 14/04</td>
      <td class="text-center" colspan="2">Segunda Chamada</td>
    </tr>
    <tr class="table-secondary">
      <td class="text-center" colspan="2">Liberação das notas</td>
      <td class="text-center" colspan="2">22 de abril</td>
    </tr>
  </tbody>
</table>
<br>