<p style="color: green"><%= notice %></p>

<% content_for :title, "Schedules" %>
<%= link_to "New schedule", new_schedule_path %>

<table class="table table-sm table-bordered border-primary">
  <thead>
     <tr>
      <td class="text-center table-secondary" colspan="3">1ª etapa</td>
    </tr>
    <tr>
      <th class="text-center" scope="col">Período</th>
      <th class="text-center" scope="col">Data</th>
      <th class="text-center" scope="col">Comp. Curriculares</th>
    </tr>
  </thead>
  <tbody>
    <!-- Primeira Etapa - Parciais -->
    <tr>
      <td class="text-center" rowspan="6" style="vertical-align: middle;">Parciais</td>
      <td class="text-center">21/01</td>
      <td class="text-center">Sondagem 2025 (Português e Matemática)</td>
    </tr>
    <tr>
      <td class="text-center">28/01</td>
      <td class="text-center">Redação</td>
    </tr>
    <tr>
      <td class="text-center">04/02</td>
      <td class="text-center">Matemática e Ciências</td>
    </tr>
    <tr>
      <td class="text-center">11/02</td>
      <td class="text-center">Portugês e Língua Inglesa</td>
    </tr>
    <tr>
      <td class="text-center">18/02</td>
      <td class="text-center">Química e História</td>
    </tr>
    <tr>
      <td class="text-center">25/02</td>
      <td class="text-center">Física e Geografia</td>
    </tr>
    
    <!-- Primeira Etapa - Globais -->
    <tr>
      <td class="text-center" rowspan="5" style="vertical-align: middle;">Globais</td>
      <td class="text-center">11/03</td>
      <td class="text-center">Redação</td>
    </tr>
    <tr>
      <td class="text-center">18/03</td>
      <td class="text-center">Linguagens e suas Tecnologias</td>
    </tr>
    <tr>
      <td class="text-center">26/03</td>
      <td class="text-center">Ciências da Natureza e suas Tecnologias</td>
    </tr>
    <tr>
      <td class="text-center">01/04</td>
      <td class="text-center">Matemática e suas Tecnologias</td>
    </tr>
    <tr>
      <td class="text-center">08/04</td>
      <td class="text-center">Ciências Humanas e Sociais Aplicadas</td>
    </tr>

    <!-- Segunda Chamada -->
    <tr>
      <td class="text-center" style="vertical-align: middle;">Segunda Chamada</td>
      <td class="text-center">17/03, 24/03, 31/03, 07/04, e 14/04</td>
      <td class="text-center"></td>
    </tr>

    <!-- Liberação de Notas -->
    <tr>
      <td class="text-center">Liberação das notas</td>
      <td class="text-center">22 de abril</td>
      <td class="text-center"></td>
    </tr>

    <!-- Segunda Etapa -->
    <tr>
      <td class="text-center table-secondary" colspan="3">2ª etapa</td>
    </tr>
    <!-- Continue a partir daqui -->

    <thead>
    <tr>
      <th class="text-center" scope="col">Período</th>
      <th class="text-center" scope="col">Data</th>
      <th class="text-center" scope="col">Comp. Curriculares</th>
    </tr>
  </thead>
  <tbody>
    <!-- 2ª Etapa - Parciais -->
    <tr>
      <td class="text-center" rowspan="5" style="vertical-align: middle;">Parciais</td>
      <td class="text-center">15/04</td>
      <td class="text-center">Redação</td>
    </tr>
    <tr>
      <td class="text-center">22/04</td>
      <td class="text-center">Matemática e Ciências</td>
    </tr>
    <tr>
      <td class="text-center">29/04</td>
      <td class="text-center">Portugês e Língua Inglesa</td>
    </tr>
    <tr>
      <td class="text-center">06/05</td>
      <td class="text-center">Química e História</td>
    </tr>
    <tr>
      <td class="text-center">13/05</td>
      <td class="text-center">Física e Geografia</td>
    </tr>
    
    
    <!-- 2ª Etapa - Globais -->
    <tr>
      <td class="text-center" rowspan="5" style="vertical-align: middle;">Globais</td>
      <td class="text-center">20/05</td>
      <td class="text-center">Redação</td>
    </tr>
    <tr>
      <td class="text-center">27/05</td>
      <td class="text-center">Linguagens e suas Tecnologias</td>
    </tr>
    <tr>
      <td class="text-center">10/06</td>
      <td class="text-center">Ciências da Natureza e suas Tecnologias</td>
    </tr>
    <tr>
      <td class="text-center">17/06</td>
      <td class="text-center">Matemática e suas Tecnologias</td>
    </tr>
    <tr>
      <td class="text-center">24/06</td>
      <td class="text-center">Ciências Humanas e Sociais Aplicadas</td>
    </tr>

    <!-- Segunda Chamada -->
    <tr>
      <td class="text-center" style="vertical-align: middle;">Segunda Chamada</td>
      <td class="text-center">26/05, 09/06, 16/06, 23/26 e 27/06</td>
      <td class="text-center"></td>
    </tr>

    <!-- Liberação de Notas -->
    <tr>
      <td class="text-center">Semana Sant'Ana de Arte e Ciência</td>
      <td class="text-center">02 a 06 de junho</td>
      <td class="text-center"></td>
    </tr>

    <!-- Segunda Etapa -->
    <tr>
      <td class="text-center table-secondary" colspan="3">3ª etapa</td>
    </tr>
    <!-- Continue a partir daqui -->

  </tbody>
</table>
<br>
