<p style="color: green"><%= notice %></p>
<h6 class="text-center">Cronograma dos testes Parciais e Globais - 2025</br> Ensino Fundamental - Anos Finais</h6>
<% content_for :title, "Schedules" %>
<%= link_to "New schedule", new_schedule_path %>

<table class="table-sm table table-bordered border-secondary">
  <thead>
     <tr>
      <th class="text-center text-white bg-primary" colspan="3">1ª Etapa</th>
    </tr>
    <tr class="text-center table-primary" >
      <th>Período</th>
      <th>Data</th>
      <th>Comp. Curriculares</th>
    </tr>
  </thead>
  <tbody>
    <!-- Primeira Etapa - Parciais -->
    <tr>
      <td class="text-center" rowspan="7" style="vertical-align: middle;">Parciais</td>
      <td class="text-center">21/01</td>
      <td class="text-center">Sondagem 2025 (Português e Matemática)</td>
    </tr>
    <tr>
      <td class="text-center">28/01</td>
      <td class="text-center">Redação</td>
    </tr>
    <tr>
      <td class="text-center">04/02</td>
      <td class="text-center">Matemática e Ciências</td>
    </tr>
    <tr>
      <td class="text-center">11/02</td>
      <td class="text-center">Português e Língua Inglesa</td>
    </tr>
    <tr>
      <td class="text-center">18/02</td>
      <td class="text-center">Química e História</td>
    </tr>
    <tr>
      <td class="text-center" >25/02</td>
      <td class="text-center">Física e Geografia</td>
    </tr>
    <tr>
      <td class="text-center" style="vertical-align: middle;">03/02,10/02,17/02,24/02 e 07/03</td>
      <td class="text-center">Segunda Chamada</td>
    </tr>
    <!-- Primeira Etapa - Globais -->
    <tr class="table-secondary">
      <td class="text-center" rowspan="7" style="vertical-align: middle;">Globais</td>
      <td class="text-center">11/03</td>
      <td class="text-center">Redação</td>
    </tr>
    <tr class="table-secondary">
      <td class="text-center">18/03</td>
      <td class="text-center">Linguagens e suas Tecnologias</td>
    </tr>
    <tr class="table-secondary">
      <td class="text-center">26/03</td>
      <td class="text-center">Ciências da Natureza e suas Tecnologias</td>
    </tr>
    <tr class="table-secondary">
      <td class="text-center">01/04</td>
      <td class="text-center">Matemática e suas Tecnologias</td>
    </tr>
    <tr class="table-secondary">
      <td class="text-center">08/04</td>
      <td class="text-center">Ciências Humanas e Sociais Aplicadas</td>
    </tr>
    <tr class="table-secondary">
    <!-- Segunda Chamada -->
       <td class="text-center" style="vertical-align: middle;">17/03, 24/03, 31/03, 07/04, e 14/04</td>
      <td class="text-center" colspan="2">Segunda Chamada</td>
    </tr>
    <!-- Liberação de Notas -->
    <tr class="table-secondary">
      <td class="text-center">Liberação das notas</td>
      <td class="text-center" colspan="2">22 de abril</td>
    </tr>
  </tbody>

    <!-- 2ª ETAPA -->
    <tr>
      <th class="text-center text-white bg-primary" colspan="3">2ª Etapa</th>
    </tr>
    <thead>
    <tr class="text-center table-primary">
      <th >Período</th>
      <th >Data</th>
      <th >Comp. Curriculares</th>
    </tr>
  </thead>
  <!-- PARCIAIS -->
  <tbody>
    <tr>
      <td class="text-center" rowspan="6" style="vertical-align: middle;">Parciais</td>
      <td class="text-center">15/04</td>
      <td class="text-center">Redação</td>
    </tr>
    <tr>
      <td class="text-center">22/04</td>
      <td class="text-center">Matemática e Ciências</td>
    </tr>
    <tr>
      <td class="text-center">29/04</td>
      <td class="text-center">Português e Língua Inglesa</td>
    </tr>
    <tr>
      <td class="text-center">06/05</td>
      <td class="text-center">Química e História</td>
    </tr>
    <tr>
      <td class="text-center">13/05</td>
      <td class="text-center">Física e Geografia</td>
    </tr>
    <tr>
      <td class="text-center" style="vertical-align: middle;">25/04,28/04,05/05,12/05 e 19/05</td>
      <td class="text-center">Segunda Chamada</td>
    </tr>
    <!-- 2ª Etapa - Globais -->
    <tr class="table-secondary">
      <td class="text-center" rowspan="7" style="vertical-align: middle;">Globais</td>
      <td class="text-center">20/05</td>
      <td class="text-center">Redação</td>
    </tr>
    <tr class="table-secondary">
      <td class="text-center">27/05</td>
      <td class="text-center">Linguagens e suas Tecnologias</td>
    </tr>
    <tr class="table-secondary">
      <td class="text-center">10/06</td>
      <td class="text-center">Ciências da Natureza e suas Tecnologias</td>
    </tr>
    <tr class="table-secondary">
      <td class="text-center">17/06</td>
      <td class="text-center">Matemática e suas Tecnologias</td>
    </tr>
    <tr class="table-secondary">
      <td class="text-center">24/06</td>
      <td class="text-center">Ciências Humanas e Sociais Aplicadas</td>
    </tr>

    <!-- Segunda Chamada -->
    <tr class="table-secondary">
      <td class="text-center">26/05, 09/06, 16/06, 23/26 e 27/06</td>
      <td class="text-center" style="vertical-align: middle;">Segunda Chamada</td>
    </tr>

    <!-- Liberação de Notas -->
    <tr>
      <td class="text-center table-success">Semana Sant'Ana de Arte e Ciência</td>
      <td class="text-center" colspan="2">02 a 06 de junho</td>
    </tr>
  </tbody>

    <!-- 3ª ETAPA -->
    <tr>
      <th class="text-center text-white bg-primary" colspan="3">3ª etapa</th>
    </tr>
    <thead>
    <tr class="table-primary">
      <th class="text-center" scope="col">Período</th>
      <th class="text-center" scope="col">Data</th>
      <th class="text-center" scope="col">Comp. Curriculares</th>
    </tr>
  </thead>
  <tbody>
    <!-- 3ª Etapa - Parciais -->
    <tr>
      <td class="text-center" rowspan="6" style="vertical-align: middle;">Parciais</td>
      <td class="text-center">05/08</td>
      <td class="text-center">Redação</td>
    </tr>
    <tr>
      <td class="text-center">12/08</td>
      <td class="text-center">Matemática e Ciências</td>
    </tr>
    <tr>
      <td class="text-center">19/08</td>
      <td class="text-center">Português e Língua Inglesa</td>
    </tr>
    <tr>
      <td class="text-center">26/08</td>
      <td class="text-center">Química e História</td>
    </tr>
    <tr>
      <td class="text-center">02/09</td>
      <td class="text-center">Física e Geografia</td>
    </tr>
    <tr>
      <td class="text-center">16 e 23 de agosto</td>
      <td class="text-center">Testes de Recuperação Paralela</td>
    </tr>
    <!-- 3ª Etapa - Globais -->
    <tr class="table-secondary">
      <td class="text-center" rowspan="7" style="vertical-align: middle;">Globais</td>
      <td class="text-center">09/09</td>
      <td class="text-center">Redação</td>
    </tr>
    <tr class="table-secondary">
      <td class="text-center">16/09</td>
      <td class="text-center">Linguagens e suas Tecnologias</td>
    </tr>
    <tr class="table-secondary">
      <td class="text-center">23/09</td>
      <td class="text-center">Ciências da Natureza e suas Tecnologias</td>
    </tr>
    <tr class="table-secondary">
      <td class="text-center">30/09</td>
      <td class="text-center">Matemática e suas Tecnologias</td>
    </tr>
    <tr class="table-secondary">
      <td class="text-center">07/10</td>
      <td class="text-center">Ciências Humanas e Sociais Aplicadas</td>
    </tr>
    <!-- Segunda Chamada -->
    <tr class="table-secondary">
      <td class="text-center">15/09, 22/09, 29/09, 06/10, 13/10</td>
      <td class="text-center">Segunda Chamada</td>
    </tr>
    <!-- Liberação de Notas -->
    <tr>
      <td class="text-center">13/10</td>
      <td class="text-center">Liberação das notas</td>
    </tr>
  </tbody>
  
    <!-- 4ª ETAPA -->
    <tr>
      <th class="text-center text-white bg-primary" colspan="3">4ª Etapa</th>
    </tr>
    <thead>
    <tr class="table-primary">
      <th class="text-center" scope="col">Período</th>
      <th class="text-center" scope="col">Data</th>
      <th class="text-center" scope="col">Comp. Curriculares</th>
    </tr>
  </thead>
  <tbody>
    <!-- 4ª Etapa - Parciais -->
    <tr>
      <td class="text-center" rowspan="6" style="vertical-align: middle;">Parciais</td>
      <td class="text-center">14/10</td>
      <td class="text-center">Redação</td>
    </tr>
    <tr>
      <td class="text-center">21/10</td>
      <td class="text-center">Matemática e Ciências</td>
    </tr>
    <tr>
      <td class="text-center">28/10</td>
      <td class="text-center">Português e Língua Inglesa</td>
    </tr>
    <tr>
      <td class="text-center">04/11</td>
      <td class="text-center">Química e História</td>
    </tr>
    <tr>
      <td class="text-center">11/11</td>
      <td class="text-center">Física e Geografia</td>
    </tr>
    <tr>
      <td class="text-center">20/10, 27/10, 03/11, 10/11 e 17/11</td>
      <td class="text-center">Segunda chamada</td>
    </tr>
    <!-- 4ª Etapa - Globais -->
    <tr class="table-secondary">
      <td class="text-center" rowspan="6" style="vertical-align: middle;">Globais</td>
      <td class="text-center">18/11</td>
      <td class="text-center">Redação</td>
    </tr>
    <tr class="table-secondary">
      <td class="text-center">19/11</td>
      <td class="text-center">Linguagens e suas Tecnologias</td>
    </tr>
    <tr class="table-secondary">
      <td class="text-center">21/11</td>
      <td class="text-center">Ciências da Natureza e suas Tecnologias</td>
    </tr>
    <tr class="table-secondary">
      <td class="text-center">24/11</td>
      <td class="text-center">Matemática e suas Tecnologias</td>
    </tr>
    <tr class="table-secondary">
      <td class="text-center">25/11</td>
      <td class="text-center">Ciências Humanas e Sociais Aplicadas</td>
    </tr>
    <!-- Segunda Chamada -->
    <tr class="table-secondary">
      <td class="text-center" >26 e 27/11</td>
      <td class="text-center" colspan="2">Segunda Chamada</td>
    </tr>
    <tr class="table-warning">
      <td class="text-center">Liberação das notas</td>
      <td class="text-center" colspan="2">01 de dezembro</td>
    </tr>
    <tr class="table-warning">
      <td class="text-center">Aulas de recuperação</td>
      <td class="text-center" colspan="2">02 a 08 de dezembro</td>
    </tr>
    <tr class="table-warning">
      <td class="text-center">Testes de recuperação</td>
      <td class="text-center" colspan="2">09, 10, 11, 12 e 15 de dezembro</td>
    </tr>
    <tr class="table-warning">
      <td class="text-center">Conselho de classe</td>
      <td class="text-center" colspan="2">17 e 18 de dezembro</td>
    </tr>
    <tr class="table-warning">
      <td class="text-center">Resultado final</td>
      <td class="text-center" colspan="2">19 de dezembro</td>
    </tr>
  </tbody>
</table>
<br>