
<h6 class="text-center">1ª Etapa</h6>
<table class="table table-sm table-bordered border-primary">
  <thead>
    <tr>
      <th class="text-center" scope="col">Aplicação</th>
      <th class="text-center" scope="col">Data</th>
      <th class="text-center" scope="col">Comp. Curriculares</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center" rowspan="4" style="vertical-align: middle;">Parciais<br>6º ano e 7º ano</td>
      <td class="text-center">23/01</td>
      <td class="text-center">Redação</td>
    </tr>
    <tr>
      <td class="text-center">30/01</td>
      <td class="text-center">Matemática</td>
    </tr>
    <tr>
      
      <td class="text-center">25/01</td>
      <td class="text-center">Português</td>
    </tr>
    <tr>
      <td class="text-center">31/01</td>
      <td class="text-center">Inglês</td>
    </tr>
  </tbody>
</table>
<br>
