<% content_for :title, "New high school sched" %>

<h1>New high school sched</h1>

<%= render "form", high_school_sched: @high_school_sched %>

<br>

<div>
  <%= link_to "Back to high school scheds", high_school_scheds_path %>
</div>
