<div id="<%= dom_id school_class %>">
  <p>
    <strong>Ano/Série:</strong>
    <%= school_class.grade %>
  </p>

  <p>
    <strong>Nível:</strong>
    <%= school_class.level %>
  </p>

  <p>
    <strong>Quantidade:</strong>
    <%= school_class.quantity %>
  </p>

</div>
