<div id="<%= dom_id teacher %>">
  <p>
    <strong>Nome:</strong>
    <%= teacher.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= teacher.email %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= teacher.phone %>
  </p>

</div>
