<!-- app/views/teachers/show.html.erb -->

<h1>Professor: <%= @teacher.name %></h1>

<h2>Disciplinas ministradas:</h2>

<ul>
  <% @teacher.subjects.each do |subject| %>
    <li><%= subject.subject_name %></li>
  <% end %>
</ul>